html, body {
    height: 100%;
    margin: 0; 
    padding: 0
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    &.has-active-menu {
        overflow: hidden;
    }
}

.content {
    transition: transform 0.3s;

    &.has-push-right {
      transform: translateX((calc(100vw - 48px)));
    }
}