.main-header{
    width: 100%;
    padding: 0 24px;
    height: 68px;
    background-color: $magenta;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}

.main-logo {
    display: block;
    width: 60px;
    height: 24px;
    margin-right: 48px;
    background: url(/images/huge.png) no-repeat bottom center;
    @extend %ir;

    @media screen and (max-width: $break-small) {
        display: none;
    }
}