@import "variables";
@import "helpers";
@import "fonts";
@import "base";
@import "header";
@import "nav";

main {
    padding-top: 68px;
}

.content-section {
    position: relative;
    background: #FFF;
}

.content-header {
    margin-bottom: 50px;

    @media screen and (min-width: $break_small) {
        height: 640px;
        background: url(/images/background-image.jpg) no-repeat center center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:before {
        display: block;
        height: 240px;
        content: " ";
        width: 100%;
        background: url(/images/background-image.jpg) no-repeat center center;
        background-size: cover;
        margin-bottom: 50px;
        
        @media screen and (min-width: $break_small) {
            display: none;
        }
    }
}

.content-title {
    color: #000;
    margin: 0 0 50px 24px;
    font: 44px/1 HUGEAvantGardeBold;    
    letter-spacing: -0.06em;
    
    @media screen and (min-width: $break-small) {
        color: #FFF;
        text-align: center;
        font: 15vmin/1 HUGEAvantGardeBold;
    }
}

.content-body {
    padding: 0 24px;
    font: 14px/1.5 "Galaxie";

    @media screen and (min-width: $break-small) {
        max-width: 968px;
        margin: 0 auto;    
    }
}