.main-nav {
    transition: transform 0.3s;

    @media screen and (max-width: $break-small) { 
        background: #FFF;
        position: fixed;
        top: 68px;
        left: 0;
        width: calc(100vw - 72px);
        height: 100%;
        transform: translateX(calc((-100vw + 72px)));
        overflow-y: auto;

        &.is-active {
            transform: translateX(0);
        }
    }
}

.menu-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (min-width: $break-small) { 
        display: flex;
    }
}

.menu-list--submenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 68px;
    left: 0;
    background: #FFF;
    width: auto;
    min-width: 100%;
    white-space: nowrap;
    padding: 12px 0;

    .menu-item {
        width: 100%;
        background: #fff;
        display: block;
        list-style-type: none;
        padding: 0;
    }
    
    .menu-link {
        font: 16px/1 'Galaxie';
        height: auto;
        color: $light_black;
        background: #FFF;
        display: block;
        padding: 12px 24px;
        display: block;

        &:hover {
            background: $gray !important;
        }
    }       
}

.menu-item {
    position: relative;
    
    &:hover {
        > .menu-link {
            background: #FFF;
            color: $magenta;
        }

        .menu-list--submenu { 
            display: block 
        }             
    }
}

.menu-link {
    font: 21px "HUGEAvantGardeBold";
    color: #FFF;
    text-decoration: none;
    display: block;
    height: 100%;
    padding: 24px;

    @media screen and (max-width: $break-small) { 
        color: #000;
    }

    &:hover {
        background: #FFF;
        color: $magenta;
    }
}

.nav-mask {
    position: fixed;
    z-index: 100;
    top: 68px;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;

    &.is-active {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: opacity 0.3s;
    }
}

#toggle {
    width: 104px;
    height: 68px;
    padding: 24px;
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    &:focus, &:active {
        outline: none;
    }

    @media screen and (max-width: $break-small) { 
        display: block;
    }
}

.patty {
    width: 24px;
    height: 4px;
    margin: 10px 0;
    background: #FFF;
    position: relative;

    &:before, &:after {
        content: '';
        display: block;
        width: 24px;
        height: 4px;
        background: #FFF;
        position: absolute;
        z-index: -1;
        transition: all 0.3s;
    }

    &:before {
        top: -8px;
    }

    &:after {
        bottom: -8px;
    }
}